<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script> <!--HTMX-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>HETLOK</title>


        <!--This Script manages switching between the Burger and the menu full depending on screen resolution-->
        <script src="/JS/burgerSwitcher.js"></script>
        <script src="/JS/modal.js"></script>
    
        <nav class="navbar is-link is-spaced" style="height: 10%;" >
            <div class="navbar-brand">
                <a class="navbar-item" href="https://www.hydrologik.com/" target="_blank">
                    <img class="is-round" src="/resources/logo_2.png">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="topBar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="topBar" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                    <a class="navbar-item">
                        PlaceHolder
                    </a>
                </div>
                <div class="navbar-item">
                    <div class="columns is-mobile is-centered">
                        <div class="column is-one-fourth">
                            <button class="button js-modal-trigger is-ghost " data-target="HETLOK-Modal">
                                <p class="title has-text-white">HETLOK</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-white" href="/profile">
                            Profile
                            </a>
                            <form action="/logout/" method="post">
                                <input class="button is-white" type="submit" value="logout">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </head>
    <body>
        <div id="">
            <div class="tabs is-centered">
                <ul>
                  <li class="is-active"><a hx-get="/users" hx-target="#tab-swap-target">Users</a></li>
                  <li><a hx-get="/addUser" hx-target="#tab-swap-target">Add User</a></li>
                  <li><a hx-get="/updateUser" hx-target="#tab-swap-target">Update User</a></li>
                  <li><a hx-get="/deleteUser" hx-target="#tab-swap-target">Delete User</a></li>
                </ul>
              </div>
        </div>
        <div class="block"></div>
        <div class="block">
            <div id="tab-swap-target"> <!--Will always default to starting at User view-->
                <div class="columns is-mobile is-centered">
                    <div class="column is-one-third">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Admin</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range $usrNme, $user := .}}
                                    <tr>
                                        <td>{{$user.Name}}</td>
                                        <td>{{$user.Email}}</td>
                                        <td>{{$user.Username}}</td>
                                        {{if $user.Admin}}
                                            <td>TRUE</td>
                                        {{else}}
                                            <td>FALSE</td>
                                        {{end}}
                                    </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal popup-->
        <div id="HETLOK-Modal" class="modal">
            <div class="modal-background"></div>
          
            <div class="modal-content">
              <div class="box">
                <p class="title">HETLOK</p>
                <p>Hydrologik Extract Transform Load Ok<br>
                    This app is for the administration of HETLOK<br>
                    New pipelines after intial setup can be defined and instantiated through this app<br>
                    This is a Hydrologik LLC propriatary tool<br>
                    Version: 0.1.0<br>
                    Report bugs to: esundblad@hydrologik.com
                </p>

              </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </body>
</html>