<div id="main-swap" class="column">
    <table class="table is-fullwidth is-bordered">
        <thead>
            <tr>
                <th>Id #</th>
                <th>Name</th>
                <th>Short Name</th>
                <th>Enabled</th>
                <th>Time Zone</th>
                <th>Notes</th>
                <th>Utils</th>
            </tr>
        </thead>
        <tbody>
        {{range $i, $val := .MapInt}}
            <tr>
                <td>{{$val.clientId}}</td>
                <td>{{$val.name}}</td>
                <td>{{$val.shortName}}</td>
                <td>{{$val.isEnabled}}</td>
                <!--This fa image breaks table css
                {{if $val.isEnabled}}
                    <td class="fa-solid fa-check"></td>
                {{else}}
                    <td class="fa-solid fa-x"></td>
                {{end}}
                -->
                <td>{{$val.timezoneId}}</td>
                <td>{{$val.notes}}</td>
                <td>
                    <a hx-get="/editClient?index={{$i}}" hx-target="#main-swap" class="fa-solid fa-pen-to-square"></a>
                    <a hx-get="/deleteClient?index={{$i}}" hx-confirm="Confirm Delete client: {{$val.name}}" hx-target="#main-swap" class="fa-solid fa-trash"></a>
                </td>

            </tr>
            {{end}}
        </tbody>
    </table>
    <button hx-get="/addClient" hx-target="main-swap" class="button">Add Client</button>
    {{if .Er}}
        <div class="box has-background-danger-light	">
            <div class="content is-medium ">
                <h2 class="has-text-black-bis">ERROR</h2>
                <p class="has-text-black-bis">{{.ErM}}</p>
            </div>
        </div>
    {{end}}
</div>  