<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>HETLOK</title>

        <!--This Script manages switching between the Burger and the menu full depending on screen resolution-->
        <script src="/JS/burgerSwitcher.js"></script>
        <script src="/JS/modal.js"></script>
    
        <nav class="navbar is-link is-spaced" style="height: 10%;" >
            <div class="navbar-brand">
                <a class="navbar-item" href="https://www.hydrologik.com/" target="_blank">
                    <img class="is-round" src="/resources/logo_2.png">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="topBar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="topBar" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                    <a class="navbar-item">
                        Clients
                    </a>
                </div>
                <div class="navbar-item">
                    <div class="columns is-mobile is-centered">
                        <div class="column is-one-fourth">
                            <button class="button js-modal-trigger is-ghost " data-target="HETLOK-Modal">
                                <p class="title has-text-white">HETLOK</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        
                        <div class="buttons">
                            <a class="button is-white" href="/usage">
                                Usage Doc
                            </a>
                            <form action="/logout/" method="post">
                                <input class="button is-white" type="submit" value="logout">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </head>
    <body>
        <div class="block"></div>
        <div class="block">
            <div class="columns is-mobile is-centered">
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="/resources/etl-process.png" alt="Extract Transform Load">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="buttons">
                                <a class="button is-dark is-fullwidth" href="">
                                    New Pipeline
                                </a>
                                <a class="button is-dark is-fullwidth" href="">
                                    View Pipes
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>



        <div id="HETLOK-Modal" class="modal">
            <div class="modal-background"></div>
          
            <div class="modal-content">
              <div class="box">
                <p class="title">HETLOK</p>
                <p>Hydrologik Extract Transform Load Ok<br>
                    This app is for the administration of HETLOK<br>
                    New pipelines after intial setup can be defined and instantiated through this app<br>
                    This is a Hydrologik LLC propriatary tool<br>
                    Version: 0.1.0<br>
                    Report bugs to: esundblad@hydrologik.com
                </p>

              </div>
            </div>
          
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
    </body>
    <footer>
    </footer>
</html>