<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>HETLOK</title>
    </head>
    <style>
        body {
          background-image: url('/resources/waterBack.jpg');
          background-repeat: no-repeat;
        }
        </style>
    <body>
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/resources/mountains.jpg" alt="test">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="block">
                    <p class="title is-1">HETLOK</p>
                </div>
                <div class="block">
                    <form class="box" action="/validate/" method="post">
                        <div class="field" >
                        <p class="control">
                            <label class="label is-medium" for="username">Username: </label>
                            <input class="input is-medium" type="text" id="username" name="username"/>
                        </p>
                        </div>
                        <div class="field" >
                        <p class="control">
                            <label class="label is-medium" for="pass">Password: </label>
                            <input class="input is-medium" type="password" id="pass" name="password" required/>
                        </p>
                        </div>
                        <div class="field" >
                        <p class="control">
                            <input class="button is-info is-outlined" type="submit" value="Log In">
                        </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column is-narrow">
            </div>
        </div>
    </body>
    <footer>

    </footer>
</html>