<div class="tabs is-centered">
    <ul>
        <li class="is-active"><a hx-get="/users" hx-target="#tab-swap-target">Users</a></li>
        <li><a hx-get="/addUser" hx-target="#tab-swap-target">Add User</a></li>
        <li><a hx-get="/updateUser" hx-target="#tab-swap-target">Update User</a></li>
        <li><a hx-get="/deleteUser" hx-target="#tab-swap-target">Delete User</a></li>
    </ul>
</div>
<div class="block"></div>
<div class="block">
    <div class="columns is-mobile is-centered">
        <div class="column is-one-third">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Admin</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $usrNme, $user := .}}
                        <tr>
                            <td>{{$user.Name}}</td>
                            <td>{{$user.Email}}</td>
                            <td>{{$user.Username}}</td>
                            {{if $user.Admin}}
                                <td>TRUE</td>
                            {{else}}
                                <td>FALSE</td>
                            {{end}}
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>