
<div class="tabs is-centered">
    <ul>
        <li><a hx-get="/users" hx-target="#tab-swap-target">Users</a></li>
        <li class="is-active"><a hx-get="/addUser" hx-target="#tab-swap-target">Add User</a></li>
        <li><a hx-get="/updateUser" hx-target="#tab-swap-target">Update User</a></li>
        <li><a hx-get="/deleteUser" hx-target="#tab-swap-target">Delete User</a></li>
    </ul>
</div>
<div class="block"></div>
<div class="block">
    <div class="columns is-mobile is-centered">
        <div class="column is-one-third">
            <div class="block">
                <form id="user-add-form" class="box" action="/addUser" method="post">
                    <div class="field" >
                        <p class="control">
                            <label class="label is-medium" for="name">Name: </label>
                            <input class="input is-medium" type="text" id="name" name="name"/>
                        </p>
                    </div>
                    <div class="field" >
                        <p class="control">
                            <label class="label is-medium" for="email">Email: </label>
                            <input class="input is-medium" type="text" id="email" name="email" required/>
                        </p>
                    </div>
                    <div class="field" >
                        <p class="control">
                            <label class="label is-medium" for="username">Username: </label>
                            <input class="input is-medium" type="text" id="username" name="username" required/>
                        </p>
                    </div>
                    <div class="field" >
                        <p class="control">
                            <label class="label is-medium" for="password">Password: </label>
                            <input class="input is-medium" type="text" id="password" name="password" required/>
                        </p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox" for="admin">
                                <input type="checkbox" name="admin" id="admin">
                                Admin
                            </label>
                        </div>
                    </div>
                    <div class="field" >
                        <p class="control">
                            <input hx-post="/addUser" hx-target="#tab-swap-target" class="button is-info is-outlined" type="submit" value="Create User">
                        </p>
                    </div>
                </form>
                <p class="subtitle is-2 has-text-success">{{.}}</p>
            </div>
        </div>
    </div>
</div>